<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
    
  <!-- FQDN 사용할 DAO의 클래스명을 풀패키지명으로 작성 -->
  <mapper namespace="com.pjw.app.departments.DepartmentMapper">
  	<!-- 쿼리 태그 -->
  	<!-- ID : DAO에서 사용할 메서드명을 ID로 작성 -->
  	<!-- 컬럼명과 resultType의 Bean의 Setter이름이 같은걸 찾아서 대입 -->
  	<select id="list" resultType="DepartmentDTO">
  		SELECT * FROM TB_DEPARTMENT
  	</select>
  	
  	<select id="detail" parameterType="DepartmentDTO" resultType="DepartmentDTO">
  		<!-- String, Primitive Type 은 DAO에 보낸 변수명을 #{변수명} 작성 -->
  		SELECT * FROM TB_DEPARTMENT WHERE DEPARTMENT_NO = #{departmentNo}
  	</select>
  	<!-- INSERT, UPDATE, DELETE는 resultType이 존재 X -->
  	<!-- 결과물은 숫자(int)로 리턴을 함  -->
  	<insert id="create" parameterType="DepartmentDTO">
  		INSERT INTO TB_DEPARTMENT  
  		<!-- Bean의 Getter의 이름을 #{}에 작성 -->
  		VALUES 
  		(
  			#{departmentNo}, 
  			#{departmentName}, 
  			#{category}, 
  			#{openYn}, 
  			#{capacity}
  		)
  			
  	</insert>
  	
  	<delete id="delete" parameterType="DepartmentDTO">
  		DELETE TB_DEPARTMENT WHERE DEPARTMENT_NO=#{departmentNo}
  	</delete>
  	
  	<update id="update" parameterType="DepartmentDTO">
  		UPDATE TB_DEPARTMENT 
  		SET
  			DEPARTMENT_NAME=#{departmentName},
  			CATEGORY=#{category},
  			OPEN_YN=#{openYn},
  			CAPACITY=#{capacity}
  		WHERE DEPARTMENT_NO=#{departmentNo}
  	</update>
  	
  	
  
  </mapper>