<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.pjw.app.announcement.notice.NoticeMapper">
  <select id="getCount" resultType="Long">
  	SELECT COUNT(ANNOUNCEMENT_NUM) FROM TB_NOTICE
  
  </select>
  	<!-- list -->
  <select id="list" resultType="noticeDTO" parameterType="pager">
  		SELECT ANNOUNCEMENT_NUM,ANNOUNCEMENT_TITLE,ANNOUNCEMENT_WRITER FROM TB_NOTICE
  	</select>
  		<insert id="create" parameterType="noticeDTO">
  		INSERT INTO TB_NOTICE
  		VALUES
  		(
  			#{announcementNum}
  			#{announcementTitle}
  			#{announcementWriter}
  			#{announcementDate}
  			#{announcementHit}
  		)
  	</insert>
  	
  
  
 	<!-- create --> 
  </mapper>